@import "variables";

:export {
  primaryBgColor: $main-color;
  primaryBgHoverColor: $main-color-hover;
  primaryBgDark: $main-color-dark;
  primaryBgDarkHover: $main-color-light;
  primaryTextColor: $default-text;
  focusBgColor: $green-text-selection;
  rowHoverColor: $main-color-dark;
  paginationBtnWidth: $paginationBtnWidth;
  paginationBtnHeight: $paginationBtnHeight;
}
